$blue-dark: #003153;
$blue-light: #3457D5;

.header {
  background-image: linear-gradient(to bottom right, $blue-dark, $blue-light);
}

.header__text {
  color: lightgray;
  font-size: 80px;
  margin: 10px 0;
}
