$white: #ECEBF0;
$blue-light: #8276AA;
$blue: #403075;
$blue-dark: #150840;
$gold: #AA9739;

$font: 'Coda', cursive;

body {
  background-color: $white;
}

.header {
  // background-image: linear-gradient(to bottom right, $blue, $blue-light);
  background-color: $blue;
  width: 100vw;
  display: flex;
}

.header__item {
  border: 1px dotted black;
  color: lightgray;
  font-size: 3rem;
  height: 80px;
  padding: 5px;
}

.form {

  margin: 50px auto;
  padding: 10px;
  width: 50vw;

  .form__input {
    background-color: $white;
    color: $blue-dark;

    border: 3px $blue solid;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin: 10px auto;
    padding: 5px;
  }

  .form__input--submit {
    background-color: $blue;
    color: $white;
  }

}

.footer {
  position: static;
  border-bottom: 0;
  background-color: $blue-dark;
}
