<!DOCTYPE html>
<html lang="pl" dir="ltr">
  <head>
    <title>{{appName}}</title>

    <meta charset="utf-8">

     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     <link rel="stylesheet" href="/client/style.css">
  </head>

  <body class="w3-white">
    <div class="w3-container w3-card w3-center header">
      <div class="w3-jumbo">
        <p>{{appName}}</p>
      </div>
    </div>

  </body>
</html>
